#about {
	text-align: center;
	color: darkmagenta;
	}

#container{
	text-align: center;
	background-color: yellow;
	}

#content{
	text-align: left;
	}
#development{
	color: blue;
	}
#name{
	font-family: Verdana;
	
	
	}